extends layout

block content

    if registrations.length
        table(border="1")
            tr
                th TenDL
                th Email
                th DiaChi
                th SDT
                th
                th
            each registration in registrations
                tr
                    td= registration.TenDaiLy
                    td= registration.Email
                    td= registration.DiaChi
                    td= registration.DienThoai
                    td
                        form(action=`/registrations/edit/${registration.MaDaiLy}`, method="get")
                            button(type=submit) edit
                    td
                        form(action=`/registrations/delete/${registration.MaDaiLy}`, method="get")
                            button(type=submit, , onclick="return confirm('are you sure?')") delete
    else
        p No registrations yet :(

    a(href="/registrations/create") Create new

