<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title></title>
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10 bg-light mt-2 rounded">
				<p class="fw-bold" style="text-align: center; font-size: 25px;">Kết quả tìm kiếm</p>
				<table class="table table-hover table-light table-striped" id="table_data">
					<thead>
						<tr>
							<th>Mã đại lý</th>
							<th>Tên đại lý</th>
							<th>Loại đại lý</th>
							<th>Mã quận</th>
							<th>Tiền nợ</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<%
						if(userData.length!=0){
						var i=1;
						userData.forEach(function(data){
						%>
						<tr>
							<td><%=data.MaDaiLy %></td>
							<td><%=data.TenDaiLy %></td>
							<td><%=data.MaLoaiDaiLy %></td>
							<td><%=data.MaQuan %></td>
							<td><%=data.TienNo %></td>
							<td><%=data.Email %></td>
						</tr>
						<%  i++; }) %>
						<% } else{ %>
							<tr>
								<td colspan="7">No Data Found</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>





	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>